<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="outputFilePath" value="d:\TestFile.txt"/>
    <add key="linesQuantity" value="5000000"/>
  </appSettings>

</configuration>